.partial_two_span_1 {
    color: rgb(19, 123, 19);
}

.partial_two_span_2 {
    color: rgb(151, 116, 0);
}

.partial_two_main
{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.partial_two_header
{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.partial_two_logo
{
    height: 200px;
    width: 200px;
}

.partial_two_header_right_section
{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
}

.partial_two_h1
{
    letter-spacing: 5px;
    margin: 0px;
}

.partial_two_h2
{
    color: rgb(19, 123, 19);
    margin: 0px;
}

.partial_two_ul
{
    margin: 0;
}